:root
{
    --primary : hsl(0, 100%, 50%);
    --secondary:hsl(0, 100%, 75%);
    --tertiary:hsl(0, 100%, 87%);
    --quaternary: hsl(0, 9%, 87%);
}

body,
header,
footer,
nav,
main,
section,
ul {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Oswald";
    src: url(../PruebaDesdeVisual/Fuentes/Oswald-VariableFont_wght.woff2), url(../Fuentes/Oswald-VariableFont_wght.ttf);
    font-style: normal;
    font-weight: normal;

}

@font-face {
    font-family: "Source Sans Pro";
    src: url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
    font-style: normal;
    font-weight: normal;

}

body {

    font-family: Arial, sans-serif;
    background-color:var(--quaternary);
    color: #000000;
    display: flex;
    flex-direction: column;
    
    
}

footer {

    background-color: var(--tertiary);
    padding: 20px;
    color: hsl(0, 0%, 100%);
    
}

header {
    text-align: center;
    padding: 20px;
    background-color:var(--primary);
    width:  100%;
}


h1 {
    font-size: 50px;
    color: hsl(0, 0%, 100%);
    font-family: "Oswald";

}

@media screen and (max-width: 650px) {

    main{
        
        display: inline-block;
    }
  }
  
nav ul {
    list-style-type: none;
    background-color:var(--secondary);
    padding: 10px;
   
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: hsl(0, 0%, 100%)
}

main
{
    display: flex;
    flex-direction: row;
}

section {
    margin: 40px;
    padding: 20px;
    border: 1px solid #949494;
    border-radius: 5px;
    background-color: hsl(0, 0%, 100%);
    
}

section h2 {
    font-size: 30px;
    color: #343333;
    margin: 0;
    font-family: "Oswald";
}

section p {
    font-size: 16px;
    color: #343333;
    font-family: "Source Sans Pro";

}
