body,
header,
footer,
nav,
ul {
    margin: 0;
    padding: 0;



}

@font-face {
    font-family: "Oswald";
    src: url(../Fuentes/Oswald-VariableFont_wght.ttf);
    font-style: normal;
    font-weight: normal;

}

@font-face {
    font-family: "Source Sans Pro";
    src: url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
    font-style: normal;
    font-weight: normal;

}





body {
    font-family: Arial, sans-serif;
    background-color: #e6e4e4;
    color: #000000;
}

footer {
    background-color: #ffbfbf;
    text-align: center;
    padding: 20px;
}

header {
    background-color: #949494;
    text-align: center;
    padding: 20px;
    background-color: #ff0000;
}


h1 {
    font-size: 50px;
    color: #fafafa;
    font-family: "Oswald";

}

nav ul {
    list-style-type: none;
    background-color: #ff8080;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fafafa
}

section {
    margin: 40px;
    padding: 20px;
    border: 1px solid #949494;
    border-radius: 5px;
    background-color: #fafafa;

}

section h2 {
    font-size: 30px;
    color: #343333;
    margin: 0;
    font-family: "Oswald";
}

section p {
    font-size: 16px;
    color: #343333;
    font-family: "Source Sans Pro";

}

footer {
    color: #fafafa;
}